.logo {
    width:auto;
    height:auto;
}

.inline {
    display:inline-flex;
    margin: auto;
}

.header {
  margin-top: 2em;
  font-size: 25px;
}

.userprof {
  color:black;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
}

.profblock {
  background-color:#EBD071;
  border-radius: 10px;
  resize: auto;
  width: auto;
  height: auto;
  padding: 0% 2% 2% 5%;
  margin: 5% auto;
  box-shadow: 3px 5px 5px 0px  rgb(211, 211, 211);
}

.profblock-wrapper {
  padding-top: 2px
}

.proftext {
  font-size: 18px;
  font-weight: bold;
}

.profdetail {
  font-weight:normal;
  display: inline-flex;
  padding-left: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.viewbutton {
  display: flex;
  margin: auto;
  text-align: center;
}

input.edit {
  background-color: white;
  border-style:solid;
  color:black;
  border-radius:10px;
  width: 15rem;
  height: 1.5rem;
  font-size:1em;
  left: 0;
  margin: 2px auto;
  box-shadow: 3px 5px 5px 0px  rgb(211, 211, 211);
}

input.edit:hover {
  background-color:rgb(238, 238, 238);
}

input.edit:focus {
  outline:none;
}

.view {
  background-color: #EBD071;
  border: none;
  color:black;
  font-style: italic;
  font-weight: bold;
  border-radius:10px;
  width: auto;
  height: 2.2rem;
  margin: auto 45px;
  font-size: 15px;
  box-shadow: 3px 5px 5px 0px  rgb(211, 211, 211);
  display: flex;
  padding-top: 8px;
  white-space: nowrap;
}

.view:hover {
  background-color:#ddc46b;
  cursor:pointer;
}

.edit {
  background-color: #EBD071;
  border: none;
  color:black;
  font-style: italic;
  font-weight: bold;
  border-radius:10px;
  width: 6rem;
  height: 2.2rem;
  margin: 15% 35% 10%;
  font-size: 15px;
  box-shadow: 3px 5px 5px 0px  rgb(211, 211, 211);
}

.edit:hover {
  background-color:#ddc46b;
  cursor:pointer;
}